body {
    background-color: #2026b3;
    text-align: center;
    color: white;
}

h2 {
    padding-bottom: .5em;
}

.form-group {
    text-align: start;
}

.logo {
    height: 40px;
}

.address-link {
    color: black;
}

.dateChangeForm, .changeAddressForm, .addInvitesForm {
    display: none;
}

.comment {
    box-shadow: 3px 3px;
    border-radius: 10px;
    color: #2F2FA2;
    background-color: whitesmoke;
}

.comment-date {
    font-size: x-small;
}

.comment-user, .comment-likes {
    font-size: small;
    margin-bottom: 1em;
}

.jumbo-container {
  margin: auto;
  width: 100%;  
}

.jumbotron { 
    background-image: url('../images/jumbotron.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 0;
    padding-top: 50%;
}

.card {
    border-radius: 16px;
    background: linear-gradient(to top, #fb0639 0%, #f64c72 100%);
    color: white;
    border: 0;
    margin-bottom: 1em;
}

.card img {
    border-radius: 15px 15px 5px 5px;
    height: 200px;
}

#login, #signup, #newEvent, #eventInfo {
    background: linear-gradient(to top, #fb0639 0%, #f64c72 100%);
    border-radius: 15px;
}

#RSVP {
    background-color: whitesmoke;
    color: #2F2FA2;
    padding-top: .25em;
    padding-bottom: .25em;
    border-radius: 10px;
}

#comments {
    background: linear-gradient(to top, #5100ff 0%, #9b16ff 100%);
    border-radius: 10px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

@media screen and (max-width: 1215px){
    .jumbotron {
        background-size: 1215px;
        background-position: top center;
    }
} 

@media screen and (max-width: 815px){
    .jumbotron {
        height: 300px;
        background-size: 816px;
        background-position: top center;
    }

    .card img {
        height: 175px;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron {
        height: 300px;
        background-size: 700px;
        background-position: top center;
    }
}

